$primary: rgb(238, 233, 229);

.nav {
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 2.5rem 3rem;

  &__logo {
    margin-right: 2rem;
  }

  &__input {
    font-size: 1rem;
    font-weight: 500;
    border: 3px solid $primary;
    border-radius: 30px;
    padding: 0.4rem 2.5rem;
  }

  &__glass {
    font-size: 1rem;
    position: absolute;
    left: 300px;
  }

  &__right {
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
    }
  }

  &__icons {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    &--bell {
      padding: 0.5rem;
      cursor: pointer;
    }
    &--user {
      font-size: 1.5rem;
      background-color: white;
      padding: 0.5rem;
      pointer-events: stroke;

      &:hover > .nav__icons--camera {
        display: block;
      }
    }
    &--camera {
      display: none;
      position: absolute;
      top: 25px;
      right: 50px;
      cursor: pointer;
    }
  }
}

.anticon-close-circle {
  transform: scale(1.5);
}

.dropdown{
  background-color: $primary;
}
